// importando estilo principal
@import '../Site/main.scss';

.carousel-caption{
    padding-bottom:160px;
}
.carousel-caption h1{
    font-size: 50px;
    font-weight: bold;
    color:#FFCC4B;
}
#texto-secundario{
    font-weight: bold;
    color:white;
}
