// importando estilo principal
@import '../Site/main.scss';

header{
    padding: 20px 0px;

    nav{
        box-shadow: none;

        .nav-link{
            color:grey;
            font-weight: bold;
            
            .active{
                color:black
            }
        
            .nav-link:hover{
                color:black
            }
            
            #eventos,#news-letter{
                background-color: #2A6395;
            }
            .card-title{
                color:#3b3b3b;
                font-weight: bold;
            }
        }
    }

    .col-md-4{
        margin-top: 8px;
    }



}
