// importando estilo principal
@import '../Site/main.scss';

.card{

    .btn-success{
        background-color:$verde-color;
    }

    .btn-success:hover{
        background-color:$verde-color;
        opacity: 0.6;
    }

    .card-title{
        color:$verde-color;
    }
}