// importando estilo principal
@import '../Site/main.scss';

footer{
    background-color: white;
    margin-top: 80px;

    .navbar{
        padding: 20px 100px;
     
    }
    .nav-link{
        color:grey;
        font-weight: bold;
    }
    .active{
        color:black
    }
    .nav-link:hover{
        color:black
    }

    #seta-roxa{
        background-color: $roxo-color;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        width: 40px;
        height: 40px;
        padding: 15px 15px 5px 15px;

        i{
            font-size: 30px;
        }
    }
}